@import url("/styles.css");

.logo {
  height: 50px;
}
.intro-image {
  width: 180px !important;
}

/* section */
.section {
  padding: 5rem 0;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 0;
}
.section-center {
  width: 50vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 50vw;
  }
}
/*
=============== 
Video
===============
*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-white);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: var(--transition);
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}
.video-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
h1 {
  color: var(--clr-white);
}
/* switch button */
.switch-btn {
  position: relative;
  bottom: 15%;
  left: 5%;
  width: 17rem;
  height: 2rem;
  display: flex;
  border-radius: var(--radius);
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: var(--transition);
}
.switch-btn span {
  display: inline-block;
  font-size: 0.85rem;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}
.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  margin: 0;
  display: block;
  transition: var(--transition);
}
.slide .switch {
  left: 50%;
}
.title h2 {
  text-align: center;
}
.title p {
  padding-left: 50px;
  padding-right: 5px;
}

.content.active {
  display: block;
}

.btn-container {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 1em;
}
/* @media screen and (max-width: 800px) {
  .btn-container {
  }
} */
.tab-btn:nth-child(1) {
  border-top-left-radius: var(--radius);
}

.tab-btn:nth-child(3) {
  border-top-right-radius: var(--radius);
}
.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: var(--clr-grey-9);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);
}
.tab-btn:hover:not(.active) {
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
}
.about-content {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: var(--clr-white);
}
/*
=============== 
About
===============
*/
.about-video {
  margin-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  .about-img {
    margin-bottom: 0;
  }
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding-bottom: 2em;
  }
}
.about {
  background: var(--clr-white);
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: auto 1fr;
}

@media screen and (max-width: 500px) {
  .btn-container {
    font-size: 1rem;
  }
  .tab-btn {
    font-size: 0.75rem;
  }
}

.links a {
  color: black;
}
